<section class="intro">
  <div class="bg-image h-100">
    <app-search></app-search>
    <div class="mask d-flex align-items-top h-100">

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card mask-custom">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-borderless text-white mb-0">
                    <thead>
                    <tr>
                      <th scope="col">IMAGE</th>
                      <th scope="col">PRODUCT</th>
                      <th scope="col">PRICE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let tempProduct of products">
                      <td class="align-middle">
                        <img src="{{ tempProduct.image_url }}" height="100" />
                      </td>
                      <td class="align-middle">{{ tempProduct.productName}}</td>
                      <td class="align-middle">{{ tempProduct.price | currency:'EUR'}}</td>

                    </tr>

                    </tbody>
                  </table>

                </div>
              </div>

            </div>
          </div>
        </div>

        <div *ngIf="products?.length==0" class="alert alert-warning" role="alert">
          Not found

        </div>
      </div>

    </div>

  </div>


</section>
