

<div style="position:absolute;
top:0;
right:0;"><app-cart-status></app-cart-status></div>

<table>

    <tr>
        
        <td>
            <div class="detail-section">
                <div class="container-fluid">

                    <div class="">
                    <img src="{{ product.image_url }} " class="apoteka_image_details">
                    

                    <h1 style="text-transform: uppercase;"><br>{{ product.productName }}</h1>
                    <div>
                        <br>
                        <h6>PRICE: {{ product.price| currency:'EUR' }}</h6>

                    </div>
                </div>
                </div>
            </div>
            <div style="padding-left:15px; padding-top:10px">
                <br>   <button (click)="addToOrder()" class="primary-btn">Add to cart</button>
            </div>
        </td>
        
    </tr>
</table>

<div class="product_description">
    <p>PRODUCT DESCRIPTION:</p>
        <p> {{product.product_description}}</p>
        <div class="prescription_true" *ngIf="product.prescription">
        <span>NEED PRESCRIPTION FOR THIS PRODUCT!</span>
        </div>
        <div class="prescription_false" *ngIf="!product.prescription">
            <span>Don't need prescription for this product.</span>
        </div>






    </div>
