<table>
<tr>
  <td>
<div class="detail-section">
    <div class="container-fluid">


        <img src="{{ product.image_url }} " class="apoteka_image_details">

        <h1>{{ product.productName }}</h1>
        <div>
            <h2>Cijena: {{ product.price| currency:'EUR' }}</h2>

        </div>
        <button (click)="addToOrder()" class="primary-btn">Add to cart</button>




    </div>
</div>
</td>

<td style="padding-left: 927px;padding-bottom: 290px;"><app-cart-status></app-cart-status></td>

</tr>
</table>
