<div style="position:absolute;
top:0;
right:0;"><app-cart-status></app-cart-status></div>
<div style="position:absolute;
top:0.5cm;
left:10cm;">
    <div>
        <app-address-pharmacy></app-address-pharmacy>

    </div>
</div>
<div class="detail-section">
    <div class="container-fluid">


        <img src="{{ pharmacy.image_url }} " class="apoteka_image_details">

        <h1>{{ pharmacy.pharmacyname }}</h1>
        <div>
            <h2>Radno vrijeme: {{ pharmacy.working_hours }}h</h2>
            <app-products-by-pharmacy></app-products-by-pharmacy>
        </div>




        <a routerLink="/pharmacies" class="mt-5">Vrati se na listu apoteka</a>
    </div>
</div>