<section class="intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card mask-custom">
        <div class="card-body">
          <div class="input-group">
            <div class="form-outline">
              <input #myInput type="text"
                     placeholder="Search for products"
                     class="search-bar"
                     (keyup.enter)="doSearch(myInput.value)"/>
              <button (click)="doSearch(myInput.value)">
                <img style="width: 30px" src="assets/images/search.png">
              </button>
            </div>




          </div>
        </div>
      </div>
    </div>
  </div>
</section>



