<!-- MAIN CONTENT-->

<div class="main-content">

  <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box">

                        <!--<a routerLink="/pharmacies/{{currentPharmacyId}}/products/{{tempProduct.id}}">
                            <img src="{{ tempProduct.image_url}}" class="image_apoteka">
                        </a>-->
=======


                            <img src="{{ tempProduct.image_url}}" class="image_apoteka">
                        


                      <a routerLink="/pharmacies/{{currentPharmacyId}}/products/{{tempProduct.id}}">
                        <h1 style="text-align: center;">{{tempProduct.productName}}</h1>
                      </a>


                        <h2>{{ tempProduct.price | currency:'EUR'}}</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
