.total span{
  display:inline-block;
  background:#fff;
  padding:0 10px;
  color:#000;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
  margin-left:6px
}
.total{
  background:#205b8d;
  line-height:30px;
  color:#fff;
  border-radius:30px;
  border:1px solid #205b8d;
  float:left;
  margin-top:9px;
  padding-left:12px
}
